.settings/**
bin/**
/cuda_cpp/Monte-Carlo-Practice/x64/**
/cuda_cpp/Monte-Carlo-Practice/.vs/**
libs/**
target/**
.vs/**
*/x64/**
.classpath
.project
/src/bin**
*.sln
*.vcxproj
*.jar
*.idb
*.deps
*.tlog
*.pdb
*.cache
*.user
*.mwb
*.bak
*.obj
*.sql
*.txt
*.log
*.html
*.json
/target**
